@font-face {
  font-family: aiasans-condensed;
  src: url(../fonts/AIASans-Condensed-500.ttf);
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0px;
  color: #363E3F;
  position: fixed;
  line-height: 1.2;
  background-color: #fff;
  font-family: aiasans-condensed;
}

header {
  background-color: #D31145;
  color: #ffffff;
}
.div-app-logo {
  margin: auto;
  height: 100%;
  text-align: center;
}
.div-app-logo .img-logo {
  height: 75px;
}
paper-button.back-icon {
  left: 0px;
  width: 80px;
  height: 78px;
  position: absolute;
  background-image: url("../images/icon_back.png");
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
}

footer {
  bottom: 0px;
  width: 100%;
  position: fixed;
  text-align: left;
  font-size: 1.3rem;
  padding: 16px 22px;
  font-family: serif;
  background-color: #DDDDDD;
}

p {
  margin: 0px;
  padding: 0px;
}
.color-primary {
  color: #D31145;
}
paper-button {
  cursor: pointer;
  box-shadow:rgba(0, 0, 0, 0.2) 0 5px 5px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0 5px 5px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.2) 0 5px 5px 0;
}

.view-1, .view-2, .view-3 {
  width: 100%;
  height: 100%;
  position: absolute;
}
.view-1 {
  display: block;
}
.view-2 {
  display: none;
}
.view-3 {
  display: none;
}
.view-4 {
  display: none;
}
.view-5 {
  display: none;
}
.view-6 {
  display: none;
}




