.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  0% { transform: translate(0px); }
  10% { transform: translate(20px); }
  17% { transform: translate(-20px); }
  20% { transform: translate(5px); }
  25% { transform: translate(-5px); }
  34% { transform: translate(18px); }
  42% { transform: translate(-18px); }
  51% { transform: translate(12px); }
  61% { transform: translate(-12px); }
  70% { transform: translate(7px); }
  85% { transform: translate(-5px); }
  100% { transform: translate(0px); }
}