.view-five-section-one {
  height: 100%;
  width: 100%;
  position: absolute;
}
.view-five-section-two {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
}

.div-plan-comparison-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../images/view_5_bg_1.png) fixed no-repeat bottom right;
  background-repeat: no-repeat;
  background-size: contain;
}
.div-vitality-premium-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../images/view_5_bg_2.png) fixed no-repeat bottom right;
  background-repeat: no-repeat;
  background-size: contain;
}

paper-button.btn-view-five-next {

}
paper-button.btn-view-five-vitality {
  right: 265px;
  padding: 10px 20px;
}
paper-button.btn-view-five-back {
  right: 265px;
}

.div-review-self {
  margin-top: 40px;
  font-size: 2.2rem;
  position: absolute;
  margin-left: 32px;
  line-height: 1.3;
}
.div-membership-error-message {
  display: none;
  position: absolute;
  margin-top: 55px;
  margin-left: 497px;
  font-size: 1.6rem;
  font-family: serif;
  line-height: 1.1;
  text-align: center;
  width: 262px;
}
.div-value-1, .div-value-2, .div-value-3, .div-value-4, .div-value-5, .div-value-6, .div-value-7,
.div-life-1, .div-life-2, .div-life-3, .div-life-4, .div-life-5, .div-life-6, .div-life-7 {
  position: absolute;
  font-size: 2rem;
}
.div-value-1 {
  margin-top: 190.5px;
  margin-left: 478px;
}
.div-value-2 {
  width: 81px;
  margin-top: 235px;
  margin-left: 452px;
  text-align: center;
}
.div-value-3 {
  width: 81px;
  text-align: center;
  margin-top: 363px;
  margin-left: 452px;
}
.div-value-4 {
  width: 81px;
  text-align: center;
  margin-top: 407px;
  margin-left: 452px;
}
.div-value-5 {
  width: 81px;
  text-align: center;
  margin-top: 453px;
  margin-left: 452px;
}
.div-value-6 {
  width: 100px;
  text-align: center;
  margin-top: 154px;
  margin-left: 442px;
}
.div-value-7 {
  width: 100px;
  text-align: center;
  margin-top: 222px;
  margin-left: 442px;
}
.div-life-1 {
  margin-top: 190.5px;
  margin-left: 785px;
}
.div-life-2 {
  width: 81px;
  margin-top: 235px;
  margin-left: 761px;
  text-align: center;
}
.div-life-3 {
  width: 81px;
  text-align: center;
  margin-top: 363px;
  margin-left: 761px;
}
.div-life-4 {
  width: 81px;
  text-align: center;
  margin-top: 407px;
  margin-left: 761px;
}
.div-life-5 {
  width: 81px;
  text-align: center;
  margin-top: 453px;
  margin-left: 761px;
}
.div-life-6 {
  width: 100px;
  text-align: center;
  margin-top: 154px;
  margin-left: 749px;
}
.div-life-7 {
  width: 100px;
  text-align: center;
  margin-top: 222px;
  margin-left: 749px;
}







