.view-2 {
  background: url(../images/view_2_bg.png) fixed no-repeat bottom right;
  background-repeat: no-repeat;
  background-size: contain;
}
.view-2 .div-content {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 100px;
}
.view-2 .div-content img {
  width: 920px;
}