.view-1 {
  background: url(../images/view_1_bg.jpg) fixed no-repeat bottom right;
  background-repeat: no-repeat;
  background-size: contain;
}
.ul-title-container, .ul-info-container, .ul-option-container {
  width: 100%;
  padding: 30px 0px 0px 48px;
  list-style: none;
}
.ul-title-container li, .ul-info-container li, .ul-option-container li {
  float: left;
}
.ul-title-container p {
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0px;
  padding: 0px;
}
.ul-title-container paper-button {
  background-color: #D31145;
  color: #ffffff;
  cursor: pointer;
  border-radius: 0px;
  font-size: 2rem;
  right: 30px;
  padding: 8px 90px;
  position: absolute;
  margin-top: 11px;
}
.ul-info-container, .ul-option-container {
  margin: 0px;
  margin-top: 130px;
  padding: 0px;
  display: flex;
}
.ul-info-container li, .ul-option-container li {
  text-align: center;
}
.ul-info-container .li-two, .ul-option-container .li-two {
  width: 32%;
}
.ul-info-container .li-one, .ul-info-container .li-three,
.ul-option-container .li-one, .ul-option-container .li-three {
  width: 34%;
}
.ul-info-container li img {
  width: 281px;
}
.ul-option-container {
  margin-top: 5px;
}

img.view-one-btn-yes.active, img.view-one-btn-no.active {
  display: inline-block;
}
img.view-one-btn-yes {
  display: none;
  width: 190px;
  background-repeat: no-repeat;
  background-size: contain;
}
img.view-one-btn-no {
  display: none;
  width: 190px;
  background-repeat: no-repeat;
  background-size: contain;
}




